<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592867804136-jo32tflc0uvri96m5ta9ii4ljg7n4biq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592867804136-jo32tflc0uvri96m5ta9ii4ljg7n4biq</string>
	<key>API_KEY</key>
	<string>AIzaSyD6VwgJSrbuqeMNbSAGE9ll-Ovv2gOatVA</string>
	<key>GCM_SENDER_ID</key>
	<string>592867804136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.FIT3178-Assignment</string>
	<key>PROJECT_ID</key>
	<string>fit3178-assignment-7eba7</string>
	<key>STORAGE_BUCKET</key>
	<string>fit3178-assignment-7eba7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592867804136:ios:df252c56841b111b885a5d</string>
</dict>
</plist>